[Unit]
Description=rclone webDAV service
After=network.target

[Service]
ExecStart=/usr/bin/rclone serve webdav media:DLNA -L --addr :1338
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
